<!DOCTYPE html>
<html ng-app="toDoApp">
	<head lang="en">
		<meta charset="UTF-8">
		<title>To-Do List</title>
		<link rel="stylesheet" href="styles.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	</head>
	<body ng-controller="listCtrl">
		<div id="app" align="center">
			<h1>To-Do List</h1>
			Search <input type="text" ng-model="searchList"><br><br>
			<table>
				<p ng-show="toDoList==''" class="label label-default">(Add some to-do items!)</p>
				<tr ng-repeat="toDoItem in toDoList | filter:searchList">
					<td><input type="checkbox" ng-click="itemRemove(toDoItem)"></td>
					<td>&nbsp;{{$index + 1}}.&nbsp;</td>
					<td>{{toDoItem.item}}</td>
				</tr>
			</table><br>
			<form ng-submit="itemAdd(newItem)">
				<input type="text" ng-model="newItem" placeholder="What would you like to do?">
				<input type="submit" ng-disabled="!newItem || objectIndexOf(toDoList, newItem, item)!=-1 || completedList.indexOf(newItem)!=-1" value="+"><!--ignore if no item specified or item already in to-do or completed lists-->
			</form>

			<div id="alerts">
				<!--p ng-show="!toDoItem" class="label label-default">Please tell me what you would like to do.</p-->
				<p ng-show="objectIndexOf(toDoList, newItem, item)!=-1" class="label label-warning">This item is already on the list.</p>
				<p ng-show="completedList.indexOf(newItem)!=-1" class="label label-warning">You already did that!</p>
			</div>

			<h2>Complete</h2>
			<table>
				<p ng-show="completedList==''" class="label label-default">(No items completed.)</p>
				<tr ng-repeat="completedItem in completedList | filter:searchList">
					<td>✓ {{completedItem}}</td>
				</tr>
			</table>
		</div>
	</body>
	 <!--script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script-->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
	<script type="text/javascript" src="listCtrl.js"></script>
</html>